# Build Artifacts
target/
*.jar
*.war
*.zip
*.tar.gz

# IDE/System Files
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.err
*.out

# Configuration Files
.env
.env.*

# Node Dependencies
/node_modules
node_modules

# Vite Build Output
/dist
/out
/build
/temp

# Package Manager Logs
npm-debug.log*
yarn-debug.log*